{% extends 'base.html' %}

{% load static %}
{% load telegram %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'sb-admin/css/sb-admin.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% block nav %}
        <nav class="navbar navbar-expand navbar-dark bg-primary static-top">

            <a class="navbar-brand" href="#">Lunchegram</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    {% endblock %}

    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            {% if request.user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Admin</span>
                    </a>
                </li>
            {% endif %}
{#            <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                    <i class="fas fa-fw fa-folder"></i>#}
{#                    <span>Pages</span>#}
{#                </a>#}
{#                <div class="dropdown-menu" aria-labelledby="pagesDropdown">#}
{#                    <h6 class="dropdown-header">Login Screens:</h6>#}
{#                    <a class="dropdown-item" href="login.html">Login</a>#}
{#                    <a class="dropdown-item" href="register.html">Register</a>#}
{#                    <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                    <h6 class="dropdown-header">Other Pages:</h6>#}
{#                    <a class="dropdown-item" href="404.html">404 Page</a>#}
{#                    <a class="dropdown-item active" href="blank.html">Blank Page</a>#}
{#                </div>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="charts.html">#}
{#                    <i class="fas fa-fw fa-chart-area"></i>#}
{#                    <span>Charts</span></a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="tables.html">#}
{#                    <i class="fas fa-fw fa-table"></i>#}
{#                    <span>Tables</span></a>#}
{#            </li>#}
        </ul>

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Blank Page</li>
                </ol>

                <!-- Page Content -->
                <h1>{% block h1 %}h1 here{% endblock %}</h1>
                <hr>
                {% block content %}
                {% endblock %}

            </div>
            <!-- /.container-fluid -->

            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Lunchegram {% now 'Y' %}. Brought to you by <a href="mailto:mikhail.pyrev@gmail.com">Mikhail Pyrev</a>.</span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    {% block js %}
        <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'jquery.easing.min.js' %}"></script>
        <script src="{% static 'popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% endblock %}

    {% block extrascripts %}
    {% endblock %}
{% endblock %}
