{% extends 'core/base_site.html' %}

{% load core %}

{% block title %}Dashboard{% endblock %}

{% block h1 %}Dashboard{% endblock %}

{% block content %}
    <p>My companies:</p>
    <ul>
    {% for owned_company in owned_companies %}
        <li><a href="{% url 'company_detail' owned_company.pk %}">{{ owned_company }}</a>{% if not owned_company.lunches_enabled %} [lunches disabled]{% endif %}</li>
    {% empty %}
        <li>No companies</li>
    {% endfor %}
    </ul>
    <a href="{% url 'company_add' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Add company</a>
{% endblock %}
