{% extends 'core/base_invite.html' %}

{% load i18n %}

{% block title %}{% blocktrans with name=company.name|capfirst %}Confirm joining «{{ name }}» lunch group{% endblocktrans %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">{% blocktrans with name=company.name|capfirst %}Random lunches at «{{ name }}»{% endblocktrans %}</div>
            <div class="card-body">
                <p>{% blocktrans with name=company.name|capfirst %}You're about to join lunch group «{{ name }}». Confirm this action.{% endblocktrans %}</p>
                <hr>
                <div class="text-center">
                    <form action="." method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-lg">{% trans 'Join lunch group' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
