{% extends 'core/base_invite.html' %}

{% load telegram %}
{% load i18n %}

{% block title %}{% blocktrans with name=object.name|capfirst %}Invite to «{{ name }}» lunch group{% endblocktrans %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">{% blocktrans with name=object.name|capfirst %}Random lunches at «{{ name }}»{% endblocktrans %}</div>
            <div class="card-body">
                <p>{% blocktrans %}You've been invited to lunch group. Login with your Telegram account to continue.{% endblocktrans %}</p>
                <p>{% blocktrans %}Don't forget to allow us to send messages to you or we wouldn't be able to notify you about upcoming lunch!{% endblocktrans %}</p>
                <hr>
                <div class="text-center">
                    {% telegram_widget %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}