{% extends 'core/base_invite.html' %}

{% load i18n %}

{% block title %}{% trans 'Success' %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">{% blocktrans with name=object.company.name|capfirst %}Random lunches at «{{ name }}»{% endblocktrans %}</div>
            <div class="card-body">
                <p>{% blocktrans with name=object.company.name|capfirst %}You've successfully joined lunch group «{{ name }}»!{% endblocktrans %}</p>
                <p>{% blocktrans %}Now you just have to wait until we match your lunchmate. We'll send link to their account on Monday.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}
