{% load static %}<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'logo.png' %}">

    <title>{% block title %}Cover Template for Bootstrap{% endblock %}</title>

    {% block css %}
        <!-- Bootstrap core CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% endblock %}

    {% block extrahead %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% block body %}{% endblock %}
</body>

</html>
